/* Default Css Start */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-family: "Cairo", sans-serif;
}

.default-title{
    text-align: center;
}
.default-title h1 {
    font-size: 35px;
    font-weight: 800;
    position: relative;
}
.default-title h1::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    width: 80px;
    height: 4px;
    background-color: rgb(127, 173, 57);
    margin: 0 auto;    
}
/* Default Css End */

/* Address Bar Saction Css Start */

.address-bar {
    background: rgb(245, 245, 245);
    padding: 9px 0;
}
.address-bar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address-bar-left {
}
.address-bar-left a {
    display: inline-block;
    color: #1c1c1c;
    text-decoration: none;
    font-size: 14px;
    padding: 0 20px;
    padding-left: 0;
    border-right: 1px solid #ddd;
}
.address-bar-left a span {
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.address-bar-left h6 {
    display: inline-block;
    font-size: 14px;
    color: #1c1c1c;
    padding: 0 20px;
}
.address-bar-right {
    display: flex;
    align-items: center;
}
.address-bar-right-icon {
    border-right: 1px solid #ddd;
    padding-right: 8px;
}
.address-bar-right-icon ul li a {
    padding: 0 10px;
    color: #1c1c1c;
    font-size: 13px;
}
.address-bar-right-language{}
.address-bar-right-language > ul > li{
    position: relative;
}

.address-bar-right-language > ul > li > ul {
    position: absolute;
    top: 180%;
    left: 20px;
    flex-direction: column;
    width: 100px;
    background: #1c1c1c;
    padding: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
.address-bar-right-language > ul > li > ul > li a {
    padding: 0;
    font-size: 14px;
    color: white;
    margin-bottom: 3px;
}
.address-bar-right-language > ul > li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.address-bar-right-language > ul > li > a {
    display: inline-block;
    padding: 0 20px;
    color: #1c1c1c;
    font-size: 14px;
    border-right: 1px solid #ddd;
}
.address-bar-right-language > ul > li > a img {
    margin-right: 5px;
}
.address-bar-right-language > ul > li > a span {
    font-size: 8px;
    margin-left: 10px;
}
.address-bar-right-login a {
    font-size: 14px;
    color: #1c1c1c;
    padding: 0 20px;
    padding-right: 0;
    text-decoration: none;
}
.address-bar-right-login a span {
    font-size: 12px;
    margin-right: 7px;
}
/* Address Bar Saction Css End */

/* Header Saction Css Start */

.Header{
    padding: 5px 0;
}
ul.header-menu{
    margin-left: 120px;
}
ul.header-menu > li > a {
    color: #1c1c1c !important;
    text-transform: uppercase;
    font-weight: 701;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
    margin-right: 35px;
}
ul.header-menu > li:nth-child(1) a {
    color: rgb(127, 173, 57) !important;
}
ul.header-menu li:hover > a{
    color: rgb(127, 173, 57) !important;
}
ul.header-menu > li{
    position: relative;
}
ul.header-menu > li > ul {
    position: absolute;
    top: 150%;
    left: 8px;
    width: 180px;
    background-color: #1c1c1c;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 1000;
}
ul.header-menu > li > ul > li > a {
    color: white;
    padding: 0;
        padding-right: 0px;
        padding-left: 0px;
    text-transform: capitalize;
    font-weight: normal !important;
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 1px;
}
ul.header-menu > li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.header-cart{
    display: flex;
}
.header-cart-icon {
    margin-left: 12px;
    margin-right: 9px;
    position: relative;
    cursor: pointer;
}
.header-cart-icon i {
    font-size: 18px;
}
.header-cart-icon span {
    display: inline-block;
    background: rgb(127, 173, 57);
    color: white;
    font-size: 10px;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 13px;
    border-radius: 50%;
    font-weight: 700;
    position: absolute;
    top: -2px;
    left: 20px;
}
.header-cart-text {
    margin-left: 20px;
    position: relative;
    top: 3px;
}
.header-cart-text h6 {
    font-size: 14px;
    color: #6f6f6f;
}
.header-cart-text h6 span {
    font-weight: 700;
    color: #252525;
    text-shadow: 1px 0px #252525;
    letter-spacing: .5px;
}
/* Header Saction Css End */


/* Content Saction Css Start */

.content-department a {
    display: block;
    background: rgb(127, 173, 57);
    border-radius: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 0;
}
.content-department a:hover{
    color: white;
}
.content-department a .span1 {
    font-size: 15px !important;
    margin-right: 10px;
}
.content-department a .span2 {
    font-size: 10px;
    margin-left: 25px;
    position: relative;
    left: 15px;
}
#myCollapse {
    border: 1px solid #ddd;
}
#myCollapse ul {
    padding: 10px 40px;
}
#myCollapse ul li a {
    background: white;
    color: black;
    font-weight: normal;
    font-size: 15px;
}


.content-catagories{
    display: flex;
    justify-content: space-between;
}
.content-catagories-search {
    flex-basis: 72%;
    border: 1px solid #ddd;
    padding: 9px 0;
    position: relative;
}
.content-catagories-search form{
    display: flex;
}
.content-catagories-search-left{}
.content-catagories-search-left h6 {
    font-weight: 800;
    color: #1c1c1c;
    position: relative;
    top: 5px;
    padding: 0 13px;
    border-right: 1px solid #ddd;
    cursor: pointer;
}
.content-catagories-search-left h6 span {
    font-weight: normal !important;
    font-size: 10px;
    margin-left: 30px;
}
.content-catagories-search-right .input-1 {
    border: navajowhite;
    font-size: 15px;
    word-spacing: 2px;
    font-weight: 500;
    color: #b2b2b2;
    padding: 0 15px;
}
.content-catagories-search-right .input-2 {
    font-size: 14px;
    font-weight: 800;
    background: rgb(127, 173, 57);
    color: white;
    border: none;
    position: absolute;
    right: 0;
    height: 104%;
    top: -1px;
    width: 115px;
}
.content-catagories-call{
    display: flex;
    align-items: center;
}
.content-catagories-call .call-icon {
    background: rgb(245, 245, 245);
    margin-right: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
.content-catagories-call .call-icon span {
    font-size: 13px;
    color: rgb(127, 173, 57);
}
.content-catagories-call .call-text{}
.content-catagories-call .call-text a {
    color: #1c1c1c;
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
    display: inline-block;
    position: relative;
    top: -2px;
}
.content-catagories-call .call-text h6 {
    color: #6f6f6f;
    font-size: 14px;
    position: relative;
    top: 3px;
}

.banar{
    background: url(./img/banner.jpg) no-repeat center center;
    background-size: cover;
    height: 63vh;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.banar-text {
    width: 265px;
    margin-left: 70px;
}
.banar-text h6 {
    color: rgb(127, 173, 57);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 4px;
}
.banar-text h1 {
    font-size: 45px;
    color: #252525;
    font-weight: 800;
    margin-top: 12px;
    line-height: 1.2;
}
.banar-text p {
    color: #6f6f6f;
    font-size: 15px;
    margin-top: 12px;
    font-weight: 400;
}
.banar-text button {
    text-transform: uppercase;
    font-size: 14px;
    background: rgb(127, 173, 57);
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    border: transparent;
    padding: 10px 30px;
    margin-top: 18px;
}
/* Content Saction Css End */

/* Fruit Saction Css Start */

.fruit{
    padding: 50px 0;
}
.fruit-sac{
    position: relative;
}
.fruit-sac-item{
    position: relative;
}
.fruit-sac-item img{}
.fruit-sac-item-title {
    position: absolute;
    bottom: 15px;
    width: 80%;
    background: white;
    left: 10%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 0;
}
.fruit-sac::before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: absolute;
    left: -38px;
    top: 38%;
    width: 25px;
    height: 65px;
    border: 1px solid #ddd;
    line-height: 65px;
    text-align: center;
    color: #1c1c1c;
    font-size: 12px;
    cursor: pointer;
}
.fruit-sac::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: absolute;
    right: -38px;
    top: 38%;
    width: 25px;
    height: 65px;
    border: 1px solid #ddd;
    line-height: 65px;
    text-align: center;
    color: #1c1c1c;
    font-size: 12px;
    cursor: pointer;
}
/* Fruit Saction Css End */


/* Feature Saction Css Start */

.feature{
    padding: 50px 0;
}
.feature-control{}
.feature-control ul li a {
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-left: 12px;
    margin-right: 13px;
}
.feature-control ul li .all {
    border-bottom: 2.5px solid rgb(127, 173, 57);
}


.feature-item{
    border-radius: 0;
    border: none;
}
.feature-item-top{
    position: relative;
    overflow: hidden;
}
.feature-item-top-social{
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out !important;
}
.feature-item-top-social ul{
    justify-content: center;
}
.feature-item-top-social ul li a {
    background: white;
    padding: 0;
    margin-right: 10px;
    color: black;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    border: 1px solid #ebebeb;
}
.feature-item-top-social ul li a span i{
    transition: all .4s ease-in-out;
}
.feature-item-bottom{
    text-align: center;
}
.feature-item-bottom a {
    font-size: 16px;
    text-decoration: none;
    color: #1c1c1c;
    display: inline-block;
    margin-top: 8px;
}
.feature-item-bottom p{
    font-size: 18px;
    font-weight: 800;
}
.feature-item-top-social ul li a:hover span i{
    transform: rotate(360deg);
    color: white;
}
.feature-item-top-social ul li a:hover{
    background: rgb(127, 173, 57);
    border: 1px solid #ebebeb;
}
.feature-item:hover .feature-item-top-social{
    bottom: 18px;
    visibility: visible;
    opacity: 1;
}
/* Feature Saction Css End */


/* Summer Fruit Saction Css Start */

.summer-fruit{
    padding: 20px 0;
}

/* Summer Fruit Saction Css End */


/* Product Saction Css Start */

.product{
    padding: 50px 0;
}
.product-title-section{}
.product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-title-left{}
.product-title-left h3 {
    font-size: 24px;
    font-weight: 800;
}
.product-title-right{}
.product-title-right span {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: rgb(235, 235, 235);
    border: 1px solid #ddd;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.product-item-section{}
.product-item {
    display: flex;
    margin-bottom: 20px;
}
.product-item-left{}
.product-item-right {
    margin-left: 25px;
}
.product-item-right a {
    color: #1c1c1c;
    text-decoration: none;
    font-weight: 400;
    margin-top: 10px;
    display: block;
}
.product-item-right p {
    font-weight: 800;
    font-size: 18px;
    margin-top: 10px;
}
/* Product Saction Css End */

/* Blog Saction Css Start */

.blog{
    padding: 30px 0;
}
.blog-saction{
    padding-top: 70px;
    padding-bottom: 50px;
}
.blog-item {
    border-radius: 0;
    border: fuchsia;
}
.blog-item-img img{}
.blog-item-body{ 
    padding: 0;
}
.blog-item-body .blog-item-menu li a {
    padding: 11px 0;
        padding-top: 11px;
    color: #b2b2b2;
    margin-right: 20px;
    font-size: 16px;
    padding-top: 21px;
}
.blog-item-body h5 {
    font-weight: 800;
}
.blog-item-body p {
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
}

/* Blog Saction Css End */

/* Footer Saction Css Start */

.footer {
    padding-top: 70px;
    padding-bottom: 50px;
    background: rgb(243, 246, 250);
}
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-left img{
    margin-bottom: 25px;
}
.footer-left span {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 400;
    margin-bottom: 12px;
}
.footer-left span a {
    color: #1c1c1c;
    text-decoration: none;
}
.footer-middle{}
.footer-middle h6{
    font-weight: 800;
}
.footer-middle ul {
    float: left;
    width: 50%;
}
.footer-middle ul li a {
    padding: 7px 0;
    color: #1c1c1c;
    font-size: 14px;
}
.footer-right{}
.footer-right h6{
    font-weight: 800;
    margin-bottom: 12px;
}
.footer-right p {
    font-size: 14px;
    margin-bottom: 32px;
}
.footer-right form input {
    border: 1px solid #ededed;
    height: 45px;
    padding-left: 20px;
}
.footer-right form button {
    background: rgb(127, 173, 57);
    border-radius: 0;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    font-size: 14px;
    color: white !important;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .3px;
    width: 120px;
}
.footer-right ul {
    margin-top: 35px;
}
.footer-right ul li a {
    background: white;
    padding: 0;
    margin-right: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #1c1c1c;
    transition: all .3s ease-in-out;
}
.footer-right ul li a:hover{
    background-color: rgb(127, 173, 57);
    color: white;
}
/* Footer Saction Css End */

/* Footer Bottom Saction Css Start */

.footer-bottom{
    background: rgb(243, 246, 250);
}
.footer-bottom .container{
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-bottom-left p {
    color: #6f6f6f;
    font-weight: 400;
}
.footer-bottom-left p a{
    text-decoration: none;
    transition: all .1s ease-in-out;
}
.footer-bottom-left p a:hover{
    color: white;
}

/* Footer Bottom Saction Css End */